.repolink {
  font-family: 'Special Elite';
  margin: 40px;
  /* border:solid 2px #41403E; */
}

a:visited {
  color: black;
}

a:hover {
  color: lightgray;
}

a:active {
  text-decoration: underline;
}
